.cuadros {
    background-color: red;
    border-style:solid;
    border-color: blue;
    border-width: 2px;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 100%;
    
    
    
} 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
}
.columna {
background-color: white;
flex-grow: 1;
flex-basis: 100%;
}

#contenedor {
justify-content: center;
width: 600px;
height: 600px;
display: flex;

    
}
